
* {
  background-color: #b5d4e2 !important;
}

.App {
  text-align: center;
  font-family: monospace;
}

.Character {
  white-space: pre;
}

.Character-current {
  background-color: #d309a7;
}

.Character-out {
  color: silver;
}