

@font-face {
  font-family: 'Rajdhani';
  src: local('Rajdhani'), url(./font/minecraftc.otfgit) format('opentype');
}

html{
  cursor: url('./assets/cursor.png'), pointer;
  overflow-y: hidden;
}

* {
  background-color: #b5d4e2 !important;
}

.Character {
  white-space: pre;
  font-size: 30px;
  font-family: Rajdhani;
}

.Character-current {
  background-color: #ffffff;
  color: rgb(0, 109, 0);
}

.Character-out {
  color: #bf918b;
}

.center{
  display: flex;
  justify-content: center;
}

/* wpm */

.stats{
  display: flex;
  justify-content: center;
}

.wpm{
  display: flex;
  justify-content: center;
  margin-right: 150px;
  font-family: Rajdhani;
  font-size: 25px;
}


/* accuracy */

.accuracy {
  display: flex;
  justify-content: center;
  margin-left: 150px;
  font-family: Rajdhani;
  font-size: 25px;
}

/* escena */

.escena{
  margin-left: -100px;
}

/* loading */

.loading{
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



.text{
  color: #bf918b;
  font-family: Rajdhani;
  font-size: 20px;
}

.caps{
  color: #bf918b;
}

.component{
  height: 600px !important;
}

/* resposive */

@media (max-height: 845px) {
  .Character{
    font-size: 22px !important;
  }
  .wpmm{
    font-size: 18px !important;
  }
  .acc{
    font-size: 18px !important;
  }
}


/* footer */

.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  font-family: Rajdhani;
}

.footer a{
  text-decoration: none;
  color: black;
  cursor: url('./assets/cursor.png'), pointer;
}